<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	  <!-- Oracle 테이블의 컬럼이 mem_id 이고, DTO의 필드변수가 memId 일때 매칭이 가능하게 하는 옵션 -->
	  <setting name="mapUnderscoreToCamelCase" value="true"/> 
	</settings>
	<typeAliases>
		<typeAlias type="com.future.hs.member.vo.MemberVO" alias="MemberVO"></typeAlias>
		</typeAliases>
</configuration>

